*.o
*.obj


/Intermediate
/Release
/DataStructure Final.opensdf
/DataStructure Final.sdf
/Debug/Plugins
/Debug/CodeHightLight.exe
/Debug/CodeHightLight.ilk
/Debug/CodeHightLight.pdb
/ipch
/NewApp/UltraDemo/UltraDemo/obj/Debug/App.g.cs
/NewApp/UltraDemo/UltraDemo/obj/Debug/MainWindow.g.cs
/NewApp/UltraDemo/UltraDemo/obj/Debug/UltraDemo.g.resources
/NewApp/UltraDemo/UltraDemo/obj/Debug/UltraDemo_MarkupCompile.cache
/NewApp/UltraDemo/UltraDemo/obj/Debug/UltraDemo.csproj.FileListAbsolute.txt
/UltraDemoInterface/bin
/UltraDemoInterface/obj